@import '~bootstrap/scss/bootstrap';

$green: #008000;
$red: #f00;
$black: #000;
$gray: #708090;
$salmon: #ffa07a;

// ---------------- Misc. Messaging ---------------- //

h1 {
  // border: 1px solid $black
  font-family: 'Overpass', sans-serif;
  padding: 15px 0 0;
  text-align: center;
}

#sign-out {
  display: none;
  font-family: 'Overpass', sans-serif;
  padding: 10px;
}

#sign-up {
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  text-align: center;
}

#sign-in {
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  text-align: center;
}

#change-password {
  display: none;
  font-family: 'Overpass', sans-serif;
  padding-bottom: 20px;
  text-align: center;
}

#new-game {
  display: none;
  font-family: 'Overpass', sans-serif;
  padding: 10px;
}

#message {
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

#warn {
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.copyright {
  bottom: 10px;
  font-family: 'Overpass', sans-serif;
  position: absolute;
  right: 30px;
}

.game {
  color: $black;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.info {
  font-family: 'Overpass', sans-serif;
  font-size: 120%;
  padding: 10px;
  text-align: center;
}

.stats {
  display: none;
  font-family: 'Overpass', sans-serif;
  padding: 10px;
}

// ---------------- Tic Tac Toe Board ---------------- //

body {
  background-color: lighten($gray, 40%);
}

.box {
  align-items: center;
  border: 1px solid $black;
  border-width: 2.5px;
  display: none;
  // font-family: 'Baloo Chettan 2', cursive;
  // font-family: 'Nunito', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-size: 400%;
  height: 145px;
  justify-content: center;
  line-height: 125px;
  padding: 15px;
  text-align: center;
  transition: background .5s;

  &:hover {
    background-color: $salmon;
    }
}

.container {
  width: 33%;
}

.top-row {
  border-top: 0;
}

.bottom-row {
  border-bottom: 0;
}

.left {
  border-left: 0;
}

.right {
  border-right: 0;
}

// ---------------- Messaging Classes ---------------- //

.failure {
  color: $red;
  text-align: center;
}

.neutral {
  color: $black;
  text-align: center;
}

.success {
  color: $green;
  text-align: center;
}

// ---------------- New Game, Stats, and Sign Out ---------------- //

.extra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
