@import '~bootstrap/scss/bootstrap';

$green: #008000;
$red: #f00;
$black: #000;
$blue: #87CEFA;
$gray: #708090;


#change-password {
  display: none;
  padding: 10px;
  text-align: center;
}

#sign-out {
  display: none;
  padding: 10px;
}

#sign-up {
  padding: 10px;
  text-align: center;
}

#sign-in {
  padding: 10px;
  text-align: center;
}

.game {
  font-size: 150%;
  text-align: center;
}

.info {
  font-size: 120%;
  text-align: center;
}

.stats {
  display: none;
  padding: 10px;
}

#new-game {
  display: none;
  padding: 10px;
}

#message {
  text-align: center;
}

.box {
  align-items: center;
  border: 1px solid $black;
  display: none;
  font-size: 300%;
  height: 120px;
  justify-content: center;
  line-height: 120px;
  padding: 10px;
  text-align: center;
  transition: background .5s;
}

.box:hover {
  background-color: $blue;
}

.container {
  width: 40%;
}

.success {
  color: $green;
  text-align: center;
}

.failure {
  color: $red;
  text-align: center;
}

.neutral {
  color: $black;
  text-align: center;
}

.top-row {
  border-top: 0;
}

.bottom-row {
  border-bottom: 0;
}

.left {
  border-left: 0;
}

.right {
  border-right: 0;
}

h1 {
  text-align: center;
}

body {
  background-color: lighten($gray, 40%);
}

.extra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
